// app global css in SCSS form
// https://colorhunt.co/palette/167893
body.body--dark {
  background: #0f4c75
}

body.body--light {
  background: #f5f8f8
}

.text-light {
  color: $light;
}
.bg-light {
  background: $light;
}

.logo-style {
  width: 10%;
  min-width: 100px;
}
